/* Background of the page to rgb(24, 24, 24) */

body {
    background-color: rgb(24, 24, 24);
}

A container in the middle of the page
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}